@model LoanCalculator.Models.PrestamoViewModel

<div class="container-fluid w-50">
    <h3>
        Calculadora de Préstamos
    </h3>
    <form asp-action="DeterminarSigno" class="form">
        <div class="form-group">
            <label for="Monto">Monto del préstamo:</label>
            @Html.TextBoxFor(model => model.Monto, new { @class = "form-control" })
            <label for="Tipo">Tipo de préstamo:</label>
            @Html.DropDownListFor(model => model.TipoPrestamo, Model.TiposPrestamo, new { @class = "form-control", @id = "Tipo", @change = "onTipoChange()" })
            <label for="Tasa">Tasa de intéres anual (%):</label>
            @Html.TextBoxFor(model => model.Tasa, new { @class = "form-control", @readonly = "readonly", @id = "Tasa" })
            <label for="Cuotas">Cantidad de cuotas mensuales:</label>
            @Html.DropDownListFor(model => model.Plazo, Model.Plazos, new { @class = "form-control", @id = "Cuotas" })
        </div>
        <button type="submit" class="btn btn-primary">Calcular</button>
    </form>
</div>

<script>
    function onTipoChange() {
        var selectedTipoPrestamo = document.getElementById("Tipo").value;
        const tasaInteresInput = document.getElementById("Tasa");

        switch (selectedTipoPrestamo) {
            case "Personal":
                tasaInteresInput.innerText = '22%';
                break;
            case "Automóvil":
                tasaInteresInput.innerText = '12%';
                break;
            case "Hipotecario":
                tasaInteresInput.innerText = ('8%');
                break;
            default:
                tasaInteresInput.innerText = '';
        }
    }
</script>
